# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db

# Local Config



# Secrets
temp_key.json
test-key.cjs

# Playwright
test-results/
playwright-report/
.env.bedtijdavonturen-prod
